{{ $num :=0 }}
<table>
<tr style="width:80%;height:auto;text-align:center">
{{ range $comicName,$comic := .Data}}{{ $num = inc $num }}
<td>
  <div style="width:15%;height:20%;">
    <a href="/chapters?comicname={{ $comicName }}">
      <img src="{{ index $comic.Data.cover 0 }}"/>
      <div><p>{{ $comicName }}</p></div>
    </a>
  </div>
<td>
{{ if isEnd $num 2 }}</tr><tr style="width:80%;height:auto;text-align:center">{{ end }}
{{ end }}
</table>